<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/App.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header__container container">
                <div class="header__logo">LOGO</div>
                <div class="header__form">
                    <label class='header__label' for="search">Поиск по постам:</label>
                    <input class='header__search' type="search" name="search" id="search" autocomplete="off">
                    <button class='header__btn' type="submit">Поиск</button>
                </div>
                <div class="header__menu">
                    <div class="header__link">Профиль</div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="content__item">
                <div class="content__header">
                    <div class="content__info">
                        <div class="content__avatar">Аватар</div>
                        <div class="content__nick">Ник</div>
                    </div>
                    <div class="content__date">Дата</div>
                </div>
                <div class="content__body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat laboriosam eos, eaque libero animi, eligendi, deleniti iusto nemo at dolorem alias magni expedita quas et incidunt ipsa aliquid voluptatibus sunt?
                </div>
                <div class="content__footer">
                    <div class="content__statistic">Лайки 340</div>
                    <div class="content__statistic">Просмотры 3400</div>
                </div>
            </div>
            <div class="content__item">
                <div class="content__header">
                    <div class="content__info">
                        <div class="content__avatar">Аватар</div>
                        <div class="content__nick">Ник</div>
                    </div>
                    <div class="content__date">Дата</div>
                </div>
                <div class="content__body">
                    Lorem ipsum dolor sit, amet consectetur 
                </div>
                <div class="content__footer">
                    <div class="content__statistic">Лайки 340</div>
                    <div class="content__statistic">Просмотры 3400</div>
                </div>
            </div>
            <div class="content__item">
                <div class="content__header">
                    <div class="content__info">
                        <div class="content__avatar">Аватар</div>
                        <div class="content__nick">Ник</div>
                    </div>
                    <div class="content__date">Дата</div>
                </div>
                <div class="content__body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat laboriosam eos, eaque libero animi, eligendi, deleniti iusto nemo at 
                </div>
                <div class="content__footer">
                    <div class="content__statistic">Лайки 340</div>
                    <div class="content__statistic">Просмотры 3400</div>
                </div>
            </div>
            <div class="content__item">
                <div class="content__header">
                    <div class="content__info">
                        <div class="content__avatar">Аватар</div>
                        <div class="content__nick">Ник</div>
                    </div>
                    <div class="content__date">Дата</div>
                </div>
                <div class="content__body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                </div>
                <div class="content__footer">
                    <div class="content__statistic">Лайки 340</div>
                    <div class="content__statistic">Просмотры 3400</div>
                </div>
            </div>
            <div class="content__item">
                <div class="content__header">
                    <div class="content__info">
                        <div class="content__avatar">Аватар</div>
                        <div class="content__nick">Ник</div>
                    </div>
                    <div class="content__date">Дата</div>
                </div>
                <div class="content__body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                </div>
                <div class="content__footer">
                    <div class="content__statistic">Лайки 340</div>
                    <div class="content__statistic">Просмотры 3400</div>
                </div>
            </div>
            <div class="content__item">
                <div class="content__header">
                    <div class="content__info">
                        <div class="content__avatar">Аватар</div>
                        <div class="content__nick">Ник</div>
                    </div>
                    <div class="content__date">Дата</div>
                </div>
                <div class="content__body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                </div>
                <div class="content__footer">
                    <div class="content__statistic">Лайки 340</div>
                    <div class="content__statistic">Просмотры 3400</div>
                </div>
            </div>
            <div class="content__item">
                <div class="content__header">
                    <div class="content__info">
                        <div class="content__avatar">Аватар</div>
                        <div class="content__nick">Ник</div>
                    </div>
                    <div class="content__date">Дата</div>
                </div>
                <div class="content__body">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat 
                </div>
                <div class="content__footer">
                    <div class="content__statistic">Лайки 340</div>
                    <div class="content__statistic">Просмотры 3400</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>