.header
    background-color: #e6e6e6
    position: fixed
    z-index: 10
    width: 100%
    &__container
        display: flex
        justify-content: space-between
        font-size: 20px
        height: 70px
        align-items: center
    &__logo
        font-size: 32px
    &__form
        display: flex
        align-items: center
    &__label
        margin: 5px
    &__search
        border: 1px solid #000
        border-radius: 2px
        margin-right: 3px
    &__btn
        border: 1px solid #000
    &__menu

    &__link
.content
    width: 440px
    margin: 80px auto 20px auto
    padding: 20px
    display: flex
    flex-direction: column
    &__form
        display: flex
        flex-direction: column
        padding: 10px
    &__label
        margin-bottom: 7px
    &__textarea
        resize: none
        font-family: Arial, Helvetica, sans-serif
        margin-bottom: 7px
    &__btn
        align-self: flex-end
        padding: 5px
        border-radius: 3px
    &__breakpoint
        color: #f00
        font-size: 18px
    &__item
        display: flex
        flex: 1 1 auto
        flex-direction: column
        width: 400px
        background-color: #e6e6e6
        padding: 10px
        border-radius: 7px
        margin: 10px auto
    &__header
        display: flex
        justify-content: space-between
        font-size: 12px
        margin-bottom: 12px
    &__info
        display: flex
    &__avatar
        // margin-right: 5px
    &__nick
        font-weight: bold
    &__date

    &__body
        display: flex
        margin-bottom: 12px
        font-size: 14px
        line-height: 17px
    &__footer
        display: flex
        font-size: 12px
    &__statistic
        margin-right: 7px