.profile
    display: flex
    flex-direction: column
    flex: 1 1 100%
.profile__container
    display: flex
    flex: 1 1 auto
    width: 1240px
    margin: 70px auto 0 auto
    border: 1px solid #000
    flex-direction: column