<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/all.min.css">
    <link rel="stylesheet" href="../../fonts/HelveticaNeueCyr.css">
    <link rel="stylesheet" href="../../css/App.css">
</head>
<body>
    <div class="wrapper">
        <div class="auth">
            <div class="auth-header">
                <div class="auth-header__container container">
                    <div class="auth-header__mini-logo">
                        <img src="./images/minilogo.svg" alt="минилого">
                    </div>
                    <div class="auth-header__logo">
                        <img src="./images/logo.svg" alt="лого">
                    </div>
                </div>
            </div>
            <div class="auth__container container">
                <div class="auth__body">
                    <img class="auth__body-image" src="./images/auth-picture.svg" alt="">
                    <div class="auth__fields">
                        <form class="auth__form">
                            <div class="auth__header">Авторизация</div>
                            <label class="auth__label" for="mix">Введите ник или почту</label>
                            <input class="auth__input" id='mix' type="text">
                            <label class="auth__label" for="mix">Введите пароль</label>
                            <input class="auth__input" id='password' type="password">
                            <div class="auth__buttons">
                                <button class="auth__botton" type="submit">Войти</button>
                                <a class="auth__botton reg" href="/registration">Регистрация</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="auth-footer">
                <div class="auth-footer__container container">
                    <a class='auth-footer__link' href="/">memegram 2020</a>
                    <a class='auth-footer__link' href="/">О нас</a>
                    <a class='auth-footer__link' href="/">Вакансии</a>
                    <a class='auth-footer__link' href="/">Правила</a>
                    <a class='auth-footer__link' href="/">Конфиденциальность</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./index.js"></script>
</html>