<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/all.min.css">
    <link rel="stylesheet" href="../../fonts/font-faces.css">
    <link rel="stylesheet" href="../../css/App.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="header__container container">
                <a href='/' class="header__mini-logo">
                    <img src='./images/minilogo.svg' alt="минилого" />
                </a>
                <form class="header__form">
                    <label class="header__label" for="search">Поиск по постам</label>
                    <input class="header__search" type="search" placeholder="Текст поста..."/>
                    <img class="header__search-btn" src="./images//search-ico.svg" alt=""/>
                </form>
                <div class="header__menu">
                    <span>Меню</span> 
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./index.js"></script>
</html>